@tailwind base;
@tailwind components;
@tailwind utilities;

.category-sport {
    color: green;
}

.category-health {
    color: red;
}

.category-technology {
    color: teal;
}

.category-education {
    color: purple;
}

.category-travel {
    color: orange;
}

.category-entertainment {
    color: pink;
}

.category-science {
    color: blue;
}

.category-economy {
    color: gold;
}

.category-politics {
    color: darkred;
}

.category-war {
    color: darkgray;
}

.category-video-games {
    color: lime;
}

.category-space {
    color: navy;
}

.category-world-of-warcraft {
    color: brown;
}

